{% extends 'layout/base.html' %}
{% block title %}PwC Sweeper - File Upload
{% endblock %}


{% block pre-content %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card py-5">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-0">Upload Source File</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                   <form action="" method="POST" enctype="multipart/form-data" class="col-6">
                        {% csrf_token %}
                        {% if form.non_fields_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_fields_errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="{{ form.file_field.id_for_label }}" class="form-control-label">Upload csv
                                file with swift messages</label>
                            {% if form.file_field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.file_field.errors }}
                                </div>
                            {% endif %}
                            <div class="input-group">
                                {{ form.file_field }}
                                <button class="btn btn-outline-primary" id="inputGroupFileAddon04"
                                        type="submit">Upload
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
